[submodule "obfs4"]
	path = obfs4
	url = https://gitlab.com/yawning/obfs4.git
[submodule "snowflake"]
	path = snowflake
	url = https://git.torproject.org/pluggable-transports/snowflake.git
[submodule "pt1"]
	path = dnstt
	url = https://github.com/tladesignz/dnstt.git
[submodule "dnstt"]
	url = https://www.bamsoftware.com/git/dnstt.git
[submodule "hysteria"]
	path = hysteria
	url = https://github.com/HyNetwork/hysteria.git
[submodule "v2ray-core"]
	path = v2ray-core
	url = https://github.com/v2fly/v2ray-core.git
